<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	failOnWarning="true"
	failOnRisky="true"
	>
	<testsuites>
		<testsuite name="big-file-uploads">
			<!-- prefix+suffix, so the bootstraps and tests/includes are not loaded as test files. -->
			<directory prefix="test-" suffix=".php">./tests</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<!-- Needs Infinite_Uploads declared before WordPress boots. See phpunit-iu-active.xml.dist. -->
			<group>iu-active</group>
			<!-- Needs a network installed by the bootstrap. See phpunit-multisite.xml.dist. -->
			<group>multisite</group>
		</exclude>
	</groups>
</phpunit>
